*,*::after,*::before {
    box-sizing: border-box;
    margin:0;
}
body{
    color: white;
}
html {
    scroll-behavior: smooth;
    scrollbar-width: none;
    overflow: scroll;
    overflow-x: hidden;
    
}
.scrollup{
    bottom: 50px;
    right: 50px;
    position: fixed;
    z-index: 99;
    text-decoration: none;
    font-size: 0rem;
    visibility: hidden;
}
.popup{
    visibility: hidden;
}
::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}
.title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Bungee', cursive;
    font-size: 5rem;
    color: gold;
    height: 100vh;
    background: linear-gradient(0deg, rgba(0,5,77,1) 0%, rgba(0,0,0,0.5970588919161415) 25%);
}
.neonText {
    color: rgb(255, 255, 255);
    text-shadow:
        0 0 7px #ffd700,
        0 0 10px #ffd700,
        0 0 21px #ffd700,
        0 0 42px #ffcc00,
        0 0 82px #ffcc00,
        0 0 92px #ffcc00,
        0 0 102px #ffcc00,
        0 0 151px #ffcc00;
  }
  .imghome{
    background-image:url('img/breaking-bad-bill-burr-lying-money-kuby-1377555293e-1-2.gif');
    background-repeat: no-repeat;
    background-size: cover ;

}
.scrolloutput{
    top:50vh;
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: center;
}
.lesbourges{
    display: flex;
    flex-direction: column-reverse;
}
.rich{
    height: 100vh;
    width: 85vw;
    margin-top: 100vh;
    background-color: #000000;
}
.rich:last-child{
    margin-top: 0;
}
.container2{
    display: flex;
}
.container1{
    background-color: rgb(24, 16, 21);
    height: 100vh;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}
.moneybar{
    background-color: blue;
    height: auto;
    width: 15vw;
    background-image: url("img/template_regle.png");
    background-repeat:repeat-y;
    background-size: 25%;
}