*,
*::after, 
*::before 
{
    box-sizing: border-box;
    margin:0;
}

body{
    background-color: rgb(24, 16, 21);
    color: white;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Bungee', cursive;
    font-size: 2rem;
    color: gold;
}
.imghome{
    display: flex;
    align-items: center;
    justify-content: center;
 
}

.scrolloutput{
    position: fixed;
}

.rich{
    height: 80vh;
    margin-top: 80vh;
    background-color: black;
    display: flex;
    flex-direction: column-reverse;
}

.container2{
    display: flex;
}
.moneybar{
    background-color: blue;
    height: auto;
    width: 10vw;
}