*,*::after,*::before {
    box-sizing: border-box;
    margin:0;
}
body{
    background-color: rgb(24, 16, 21);
    color: white;
}
.title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Bungee', cursive;
    font-size: 2rem;
    color: gold;
}
.imghome{
    display: flex;
    align-items: center;
    justify-content: center;
 
}
.scrolloutput{
    top:50vh;
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: center;
}
.lesbourges{
    display: flex;
    flex-direction: column-reverse;
}
.rich{
    height: 100vh;
    width: 90vw;
    margin-top: 100vh;
    background-color: #FF9E42;
}
.rich:last-child{
    margin-top: 0;
}
.container2{
    display: flex;
}
.container1{
    height: 100vh;
}
.moneybar{
    background-color: blue;
    height: auto;
    width: 10vw;
}